* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    padding: 30px;
}

/* Product */
.product {
    width: 250px;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
}

.product button {
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

/* Cart Sidebar */
.cart {
    position: fixed;
    top: 0;
    right: -400px;
    width: 350px;
    height: 100%;
    background: white;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
    transition: 0.4s;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.cart.active {
    right: 0;
}

.cart-header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    font-size: 22px;
}

.cart-items {
    flex: 1;
    padding: 20px;
}

.cart-footer {
    padding: 20px;
    border-top: 1px solid #ddd;
}

.cart-footer button {
    width: 100%;
    padding: 12px;
    background: black;
    color: white;
    border: none;
}